body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  margin: 2rem;
  max-width: 600px;
  padding: 2rem;
  background-color: #b6c0c7db !important;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
  color: #000000;
}

label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button {
  background-color: #4caf50;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3e8e41;
}

input[type="text"][readonly] {
  background-color: #eee;
  cursor: not-allowed;
}
